{
    "openapi": "3.0.0",
    "info": {
        "title": "isalesbookv2 API",
        "description": "API and documentation for isalesbookv2 modular monolith (Email, Logger, Registration)",
        "contact": {
            "email": "admin@example.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://backend-v2.isalesbook.com",
            "description": "Production API"
        }
    ],
    "paths": {
        "/api/logger/log": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Create a new log entry",
                "operationId": "e3ca6c55029e79322c363b2a6cc6a12a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "level",
                                    "message"
                                ],
                                "properties": {
                                    "level": {
                                        "type": "string",
                                        "enum": [
                                            "emergency",
                                            "alert",
                                            "critical",
                                            "error",
                                            "warning",
                                            "notice",
                                            "info",
                                            "debug"
                                        ]
                                    },
                                    "category": {
                                        "type": "string",
                                        "enum": [
                                            "authentication",
                                            "api",
                                            "database",
                                            "email",
                                            "system",
                                            "security",
                                            "performance",
                                            "user_action"
                                        ]
                                    },
                                    "message": {
                                        "type": "string",
                                        "example": "User login successful"
                                    },
                                    "context": {
                                        "type": "object",
                                        "example": {
                                            "user_id": 123,
                                            "action": "login"
                                        }
                                    },
                                    "metadata": {
                                        "type": "object",
                                        "example": {
                                            "ip": "192.168.1.1"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Log entry created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Log entry created successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error"
                    }
                }
            }
        },
        "/api/logger/logs": {
            "get": {
                "tags": [
                    "Logger"
                ],
                "summary": "Get logs with filters",
                "operationId": "2b7480105c8690272b512602d7eb5a82",
                "parameters": [
                    {
                        "name": "level",
                        "in": "query",
                        "description": "Filter by log level",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "description": "Filter by category",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search in message, context, or IP address",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Number of logs per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Logs retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logger/logs/{id}": {
            "get": {
                "tags": [
                    "Logger"
                ],
                "summary": "Get a specific log entry",
                "operationId": "9764c262a1e2f508de1fa1d9255d4bba",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Log entry ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Log entry retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Log entry not found"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Logger"
                ],
                "summary": "Delete a log entry",
                "operationId": "10c959c934cdd72701d766c4e96cc4f6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Log entry ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Log entry deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Log entry deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Log entry not found"
                    }
                }
            }
        },
        "/api/logger/statistics": {
            "get": {
                "tags": [
                    "Logger"
                ],
                "summary": "Get log statistics",
                "operationId": "a66b705b6caf5f6d5d1a6b3d2761f126",
                "parameters": [
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Start date for statistics (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "End date for statistics (Y-m-d)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Statistics retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logger/levels": {
            "get": {
                "tags": [
                    "Logger"
                ],
                "summary": "Get available log levels",
                "operationId": "d14e4e5f10f313d7238dfe6f27639466",
                "responses": {
                    "200": {
                        "description": "Log levels retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logger/categories": {
            "get": {
                "tags": [
                    "Logger"
                ],
                "summary": "Get available log categories",
                "operationId": "b1ebf93cd229e794b593842c140ae5d1",
                "responses": {
                    "200": {
                        "description": "Log categories retrieved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logger/clean": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Clean old logs",
                "operationId": "4be43867a885e241598cffefe069ec1d",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "days": {
                                        "description": "Delete logs older than X days",
                                        "type": "integer",
                                        "default": 30
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Old logs cleaned successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Old logs cleaned successfully"
                                        },
                                        "deleted_count": {
                                            "type": "integer",
                                            "example": 150
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/logger/emergency": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Log emergency message",
                "operationId": "1f9c23cb1b81cd2ea922b63e2b6e7332",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "example": "System emergency"
                                    },
                                    "context": {
                                        "type": "object"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Emergency log created successfully"
                    }
                }
            }
        },
        "/api/logger/alert": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Log alert message",
                "operationId": "0736d0720a0cf2a24730bb153108f026",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "example": "System alert"
                                    },
                                    "context": {
                                        "type": "object"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Alert log created successfully"
                    }
                }
            }
        },
        "/api/logger/critical": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Log critical message",
                "operationId": "e64fccdcf326825d326254a2f588b279",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "example": "Critical system failure"
                                    },
                                    "context": {
                                        "type": "object"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Critical log created successfully"
                    }
                }
            }
        },
        "/api/logger/notice": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Log notice message",
                "operationId": "9df029feaf47f58f57a147e508795236",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "example": "System notice"
                                    },
                                    "context": {
                                        "type": "object"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Notice log created successfully"
                    }
                }
            }
        },
        "/api/logger/debug": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Log debug message",
                "operationId": "184a0dbb0998fe680834f701ce4bbefe",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "example": "Debug information"
                                    },
                                    "context": {
                                        "type": "object"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Debug log created successfully"
                    }
                }
            }
        },
        "/api/logger/error": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Log error message",
                "operationId": "d8d3bd414b4b3f6286c28bf405762a7f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "example": "Database connection failed"
                                    },
                                    "context": {
                                        "type": "object"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Error log created successfully"
                    }
                }
            }
        },
        "/api/logger/warning": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Log warning message",
                "operationId": "ee221506f7229e07b6806fa47601944f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "example": "High memory usage detected"
                                    },
                                    "context": {
                                        "type": "object"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Warning log created successfully"
                    }
                }
            }
        },
        "/api/logger/info": {
            "post": {
                "tags": [
                    "Logger"
                ],
                "summary": "Log info message",
                "operationId": "2745600e2a35a566731062130eb0b0ec",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "message"
                                ],
                                "properties": {
                                    "message": {
                                        "type": "string",
                                        "example": "User login successful"
                                    },
                                    "context": {
                                        "type": "object"
                                    },
                                    "metadata": {
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Info log created successfully"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "EmailLog": {
                "title": "Email Log",
                "description": "Email log entry model"
            },
            "SystemLog": {
                "title": "SystemLog",
                "description": "System Log model",
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": "true",
                        "example": "1"
                    },
                    "level": {
                        "type": "string",
                        "example": "info"
                    },
                    "message": {
                        "type": "string",
                        "example": "This is a log message."
                    },
                    "context": {
                        "type": "object",
                        "example": {
                            "key": "value"
                        }
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": "true"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": "true"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "sanctum": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Logger",
            "description": "System logging operations"
        }
    ]
}